body {
    font-family: Arial;
    text-align: center;
    padding: 50px;
}

input {
    padding: 10px;
    width: 300px;
    margin-top: 10px;
}

button {
    border-radius: 7px;
    padding: 10px;
    width: 300px;
    margin-top: 10px;
}

.short-url {
    margin-top: 20px;
    font-size: 18px;
    color: green;
}

 